**/*.iml
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/*.sublime-*
**/bin
**/build
**/build_gradle
**/liferay-npm-bundler-report.html
**/node_modules
**/test-coverage
**/test-results
**/tmp
**/.web_bundle_build
.gradle
.idea
/bundles
/configs/local/*
/gradle-*.properties
/plugins-sdk/**/classes
/plugins-sdk/**/ivy.xml.MD5
/plugins-sdk/**/liferay-hook.xml.processed
/plugins-sdk/build.*.properties
/plugins-sdk/dependencies/**/*.jar
/plugins-sdk/dist
/plugins-sdk/lib
